.grid-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.grid-square {
  background-color: green;
  height: 50px;
  width: 50px;
}

.grid-square.purchased {
  background-color: red;
}