@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');

.App {
  height: 100vh;
}

.App .Header {
  height: 5vh;
  width: 100vw;
  background-color: white;
  top: 0;
  position: fixed;
  z-index: 1000000;
  border-bottom: 1px solid black;
}

.MapContainer {
  top: 5vh;
  height: 95vh;
}
